body {
    background-image: url('images/sfondo.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #000000, #000000);
    color: #fff;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

nav {
    margin-right: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 5px;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

section {
    padding: 2rem;
    text-align: center;
}

#projects .project {
    background: #f4f4f4;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-top: 1rem;
}

form input, form textarea {
    width: 80%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
}

.white {
    color: white;
}

.titolo {
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 90px;
    margin-left: 50px;
    text-align: left;
    line-height: 0.95; 
}

.titolo2 {
    color:#5229e6;
}

.image-right {
    float: right; 
    margin-right: 70px;
    margin-top: -210px;
    width: 525px;
}

.pulsante {
    position: absolute;
    top: 63%;
    left: 60px;
    transform: translateY(-50%);
    color: #ffffff;
    background-color: #5229e6;
    border: none;
    border-radius: 30px;
    padding: 20px 100px;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(100, 58, 250, 0.7);
}

.pulsante:hover {
    background-color: #6a3bdb;
}